@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: "Lato", Lato, Arial, sans-serif;
	background-color: white;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	margin: auto;
}

.hero {
	min-height: 100vh; 
	text-align: center; 
}

nav {
	padding-top: 50px;
}

nav a {
	color: black;
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	margin: 15px;
	padding: 15px;
	text-transform: uppercase;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;}

a:hover {
    color: #D64A00;}

img {
	width: 70%;
	padding: 0px;
	margin: 0px;
	position: center; }

.tagline {
	color: #D64A00;
	text-align: center;
	text-transform: uppercase;
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	padding: 0px 10px 30px 10px;
}

p {
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: black;
	text-align: justify;
	padding: 10px;
	padding-left: 0; 
	width: 70%;
	display: inline-block;}

h4 {
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: #D64A00;
}

.heading {
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 0 20px 0;
	text-align: center;
}

.arrow {
	text-align: center; 
	padding: 10px; 
	color: #45454C;
	}

.hello {
	background-color: #C0C0C0;
	color: white; 
}

.work {
	background-color: #fff;
}

.contact {
	background-color: #C0C0C0;
	width: 100%;
	display: inline-block;
	text-align: center; 
}

.hello, .work, .contact {
	padding: 30px;
}

.workpics {
	width: 40%;
	display: inline-block;
}

.icons {
	padding: 10px; 
}

footer {
	padding: 1em;
	text-align: center;
	clear: both;
	text-transform: uppercase;
	background-color: #fff;
}

.footer {
	color: #D64A00;
	font-weight: 300;
}

.email {
	text-transform: uppercase;
	font-weight: 300; 
	padding: 15px;
	color: #fff;
}

.fa-linkedin-square, .fa-instagram, .fa-github {
	padding: 30px;
}

@media only screen and (max-width: 500px) {
	nav a {
		font-size: 1em;
	}
	.logo {
		padding: 40px;
	}
	.tagline {
		font-size: 1.2em;
	}
	p {
		width: 95%;
	}
	.workpics {
		width: 90%;
	}
}
